// 1u is a 8px grid unit. 1u === 8px

.root
  align-items center

.container 
  padding 16u 11u 9u 11u
  align-items center

.image
  width 11u
  height 11u
  
.header
  color #ffffff
  font-size 6u
  font-weight normal
  margin-top 2u

.slogan
  font-size 2u
  margin-top 2u
  color #ccc