// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$borderColor = #dddddd
$colorWhite = #ffffff

.root
  align-items flex-start
  padding 7u 3u 8u 3u
  flex-direction column
  width 100%
  align-items center
  border-bottom solid 1px $borderColor
  text-align center
  +tablet()
    padding 8u 8u 10u 8u
  +desktop()
    justify-content space-between
    flex-direction row-reverse
    padding 6u 8u 8u 8u

.h2
  font-size 3u
  color $textColor
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 4u
    margin-top 4u
  +desktop()
    font-size 4u

.sep
  width 12u
  margin 2u 0u 4u 0u
  border solid 1px $borderColor
  +tablet()
    margin 4u 0u 4u 0u
  +desktop()
    margin 4u 0u 4u 0u
    width 13u

.text
  color $textColor
  font-size 2u
  line-height 3u
  font-weight 300
  +tablet()
    line-height 3u
  +desktop()
    line-height 3u
    text-align left
  
.infoBox
  align-items center
  +desktop()
    align-items flex-start
    flex 1

.imageBox
  +desktop()
    margin-left 8u


.imageBorder
  align-items center
  justify-content center
  border solid 1px $borderColor
  width 27u
  height 27u
  border-radius 27u
  +tablet()
    width 35u
    height 35u

.image
  width 25u
  height 25u
  border-radius 25u
  border solid 1px $borderColor
  +tablet()
    width 32u
    height 32u

.btnWrapper
  margin-top 4u
  width 100%
  flex-direction row
  justify-content center