// 1u is a 8px grid unit. 1u === 8px

.container 
  padding 3u 3u 0u 3u
  width 100%
  text-align center

.infoBox
  align-items center

.h2
  font-size 22
  color #636363
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 36px

.sep
  width 12u
  margin 2u 0u 4u 0u
  border solid 1px #dddddd
  +tablet()
    width 17u

.text
  color #636363
  font-size 14px
  line-height 24px
  font-weight 300
  +tablet()
    color #636363
    font-size 2u
    line-height 4u
    font-weight 300

.groupBtn
  width 100%
  margin-top 4u
  +tablet()
    flex-direction row
    justify-content center

.btn
  width 100%
  +tablet()
    width 22u

.btnText
  color #636363
  font-size 14px
  line-height 3u
  font-weight 300
  padding 1u 0u
  border solid 1px #ddd
  border-radius 1u

.btnBlue
  color #fff
  background #9acff2
  +tablet()
    margin-right 3u