// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$borderColor = #dddddd
$colorWhite = #ffffff

.root 
  padding 7u 3u
  width 100%
  text-align center

.infoBox
  align-items center

.h2
  font-size 3u
  color $textColor
  font-weight 300
  +tablet()
    font-size 4u

.sep
  width 12u
  height 2px
  margin 4u 0u
  background-color $borderColor
  +tablet()
    width 17u

.text
  color $textColor
  font-size 2u
  line-height 3u
  font-weight 300
  +tablet()
    line-height 4u

.groupBtn
  width 100%
  margin-top 4u
  +tablet()
    flex-direction row
    justify-content center

.btnWrapper
  margin-top 2u
  +tablet()
    margin-top: 0u