// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$borderColor = #dddddd
$colorWhite = #ffffff

.btn
  width 100%
  padding 1u 5u
  border solid 1px $borderColor
  border-radius 8px
  height 42px 
  +tablet()
    width 22u
    padding 1u 0u
  
  &.blue
    background #9acff2
    +tablet()
      margin-right 3u

  &.pink
    background #7b5b91

.btnText
  color $textColor 
  font-size 2u
  line-height 3u
  font-weight 300
  text-align center
  +tablet()
    font-size 14px   

  &.blue
    color $colorWhite 

  &.pink
    color $colorWhite 
