// 1u is a 8px grid unit. 1u === 8px

.root
  align-items flex-start

.container 
  padding 5u 3u 6u 3u
  flex-direction column
  width 100%
  align-items center
  border-bottom solid 1px #ddd
  text-align center
  +tablet()
    padding 5u 3u 8u 3u
  +desktop()
    justify-content space-between
    flex-direction row

.h2
  font-size 22px
  color #636363
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 28px
    margin-top 3u
  +desktop()
    font-size 28px

.h3
  font-size 18px
  color #636363
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 18px
    margin-top 4u

.sep
  width 12u
  margin-top 2u
  border solid 1px #dddddd
  +tablet()
    margin 4u 0u 4u 0u
  +desktop()
    width 17u

.text
  color #636363
  font-size 14px
  line-height 24px
  font-weight 300
  +tablet()
    color #636363
    font-size 2u
    line-height 3u
    font-weight 300

.items
  +tablet()
    margin-top 14u
    justify-content space-between
    flex-direction row
    flex-wrap wrap
    justify-content center

.item
  +tablet()
    width 38u

.textBox
  margin-top 2u

.infoBox
  align-items center
  +tablet()
    flex 1

.imageBox
  margin-top 4u
  align-items center
  +tablet()
    margin-left 0u

.imageBorder
  align-items center
  justify-content center
  border solid 1px #ddd
  width 17u
  height 17u
  border-radius 50%
  +tablet()
    width 23u
    height 23u

.image
  width 15u
  height 15u
  border-radius 50%
  border solid 1px #ddd
  +tablet()
    width 20u
    height 20u
  +desktop()
    width 36u
    height 36u

.btn
  margin-top 4u
  width 100%
  +tablet()
    width 20u

.btnText
  color #636363
  font-size 14px
  line-height 3u
  font-weight 300
  padding 1u 5u
  border solid 1px #ddd
  border-radius 1u
  +tablet()
    font-size 14px
    padding 1u 5u