// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$borderColor = #dddddd

.root
  align-items flex-start
  padding 5u 3u 6u 3u
  flex-direction column
  width 100%
  align-items center
  border-bottom solid 1px $borderColor
  text-align center
  +tablet()
    padding 5u 3u 8u 3u
  +desktop()
    padding 5u 3u 8u 3u

.h2
  font-size 3u
  color $textColor 
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 4u
    margin-top 3u
  +desktop()
    font-size 4u

.h3
  font-size 2u
  color $textColor 
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 2u
    margin-top 4u

.sep
  width 12u
  margin-top 2u
  border solid 1px $borderColor
  +tablet()
    margin 4u 0u 4u 0u
  +desktop()
    width 17u

.text
  color $textColor 
  font-size 2u
  line-height 3u
  font-weight 300
  +tablet()
    font-size 2u
    line-height 3u
    font-weight 300

.items
  +tablet()
    margin-top 14u
    justify-content space-between
    flex-direction row
    flex-wrap wrap
    justify-content center
  +desktop()
    width 100%
    justify-content space-between
    flex-direction row
    flex-wrap wrap

.item
  +tablet()
    width 38u
  +desktop()
    width 34u

.textBox
  margin-top 2u

.infoBox
  align-items center
  +tablet()
    flex 1

.imageBox
  margin-top 4u
  align-items center
  +tablet()
    margin-left 0u

.imageBorder
  align-items center
  justify-content center
  border solid 1px $borderColor
  width 17u
  height 17u
  border-radius 17u
  +tablet()
    width 23u
    height 23u
  +desktop()
    width 23u
    height 23u

.image
  width 15u
  height 15u
  border-radius 15u
  border solid 1px $borderColor
  +tablet()
    width 20u
    height 20u
  +desktop()
    width 20u
    height 20u

.btnWrapper
  margin-top 4u
  width 100%