// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$borderColor = #dddddd
$colorWhite = #ffffff 

.root
  padding 5u 3u 6u 3u
  flex-direction column
  width 100%
  align-items center
  border-bottom solid 1px $borderColor
  text-align center
  +tablet()
    padding 5u 4u 6u 4u

.h2
  font-size 3u
  color $textColor
  font-weight 300
  margin-top 3u
  +tablet()
    font-size 4u

.sep
  width 12u
  margin 2u 0u 4u 0u
  border solid 1px $borderColor
  +tablet()
    width 17u

.text
  color $textColor
  font-size 2u
  line-height 3u
  font-weight 300
  +desktop()
    line-height 4u


.justify
  text-align justify
  +tablet()
    +web()
      column-count 2
  +desktop()
    +web()
      column-count 2
  +wide()
      +web()
        column-count 2
  
  
.infoBox
  align-items center
  +tablet()
    flex 1

.imageBox
  align-items center
  +tablet()
    margin-left 0u

.image
  width 8u
  height 8u
  +tablet()
    width 5u
    height 5u
  +desktop()
    width 7u
    height 7u

.items
  width 90%
  margin 4u 0u
  +tablet()
    margin-top 26u
    flex-direction row
    flex-wrap nowrap
    justify-content center
  +desktop()
    flex-direction row
    flex-wrap nowrap
    justify-content center

.item
  padding 4u
  +desktop()
    padding 3u 6u
  +wide()
    padding 3u 7u
  

.count
  font-size 4u
  color $colorWhite 
  margin-top 1u
  +tablet()
    font-size 3u

.explanation
  margin-top 1u
  font-size 2u
  color $colorWhite 

.etiam
  background #EFA8B0
  border-top-left-radius 1u
  border-top-right-radius 1u
  +tablet()
    border-top-left-radius 1u
    border-top-right-radius 0u
    border-bottom-left-radius 1u

.magna
  background #C79CC8

.tempus
  background #A89CC8

.aliquam
  background #9BB2E1

.nullam
  background #8CC9F0
  border-bottom-left-radius 1u
  border-bottom-right-radius 1u
  +tablet()
    border-bottom-left-radius 0u
    border-bottom-right-radius 1u
    border-top-right-radius 1u

.btnWrapper
  margin-top 4u
  width 100%
  flex-direction row
  justify-content center