// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363 
$borderColor = #dddddd 
$colorWhite = #ffffff 

.root
  align-items flex-start

.container 
  padding 4u 3u 0u 3u
  flex-direction column
  width 100%
  text-align left 

.h2
  font-size 3u
  color $colorWhite 
  font-weight 300
  margin-top 3u

.text
  color $colorWhite 
  font-size 2u
  line-height 3u
  font-weight 300
  margin-top 3u

.btn
  width 100%
  margin-top 2u
  +tablet()
    width 22u

.btnText
  color $textColor 
  font-size 2u
  line-height 3u
  font-weight 300
  padding 1u 0u
  border solid 1px $borderColor 
  border-radius 1u
  text-align center
  +tablet()
    font-size 2u
    padding 1u 5u

.btnPink
  margin-top 2u
  color $colorWhite 
  background #7b5b91

.copyright
  margin-top 4u
  margin-bottom 10u
  width 100%
  flex-direction row
  +desktop()
    justify-content center

.text
  color $colorWhite 
  font-size 14px
  text-align left
  +desktop()
    font-size 2u
    line-height 4u

.social
  flex-direction row
  margin-top 6u
  width 100%
  text-align left 

.imageBorder
  align-items center
  justify-content center
  border solid 1px $borderColor 
  width 5u
  height 5u
  border-radius 5u
  margin-left 2u
  &.first
    margin-left 0u

.image
  width 3u
  height 3u
  border-radius 3u
  +tablet()
    width 3u
    height 3u

.link
  text-decoration underline
  text-decoration-color $colorWhite 
  text-decoration-style dotted

.footerBox
  +desktop()
    flex-direction row

.infoBox
  +desktop()
    flex 1

.contact
  align-items flex-start
  +tablet()
    margin 0u
  +desktop()
    flex 1
    margin-left 2u

.contactData
  margin-top 3u
  flex-direction row
  align-items flex-start

.header,
.value
  color $colorWhite 
  font-size 2u
  align-items flex-start

.header
  font-weight bold
  flex 1
  width 7u
  line-height 3u
  +tablet()
    width 12u
  +desktop()
    width 6u

.value
  margin-left 4u
  line-height 3u
  text-align left
  +tablet()
    width 70u
    margin-left 0u
  +desktop()
    flex 1