// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$colorWhite = #ffffff

.root
  display none
  width 100%
  background #f7f7f7
  border-top-left-radius 1u
  border-top-right-radius 1u
  flex-direction row
  justify-content center
  +tablet()
    display flex
    padding 18px
  +desktop()
    padding 20px
 
.item
  padding 1u 0u
  width 17u
  background $colorWhite
  margin-left 3u
  border-radius 8px
  +tablet()
    padding 1u 0u
  &.first
    margin-left 0

.text
  color $textColor
  text-align center
  font-size 2u
  +tablet()
    font-size 14px
  +wide()
    font-size 16px






  