// 1u is a 8px grid unit. 1u === 8px

.root
  display none
  width 100%
  background #f7f7f7
  height 10u
  border-top-left-radius 1u
  border-top-right-radius 1u
  align-items center
  +tablet()
    display flex

.nav
  padding 3u
  
.item
  color #636363
  padding 1u 3u
  background #fff
  font-size 2u
  margin-left 3u
  border-radius 1u
  &.first
    margin-left 0




  