// 1u is a 8px grid unit. 1u === 8px
$textColor = #636363
$colorWhite = #ffffff

.root
  display none
  width 100%
  background #f7f7f7
  height 10u
  border-top-left-radius 1u
  border-top-right-radius 1u
  align-items center
  +tablet()
    display flex
    height 9u

.nav
  padding 3u
  +tablet()
    padding 18px
  +desktop()
    padding 20px
  
.item
  color $textColor
  padding 1u 3u
  background $colorWhite
  font-size 2u
  margin-left 3u
  border-radius 8px
  &.first
    margin-left 0
  +tablet()
    font-size 14px
    padding 1u 2u





  